<!DOCTYPE html>
<html lang="en-US">
    <head id="tpns.com" data-template-set="<%= title %>">
        <% include partials/template/head.ejs %>
    </head>
    <body class="video-microsite">
        <div class="page-wrap">
            <% include partials/template/mainnav.ejs %>
            <% include partials/template/indexpagewrapleft.ejs %>
            <% include partials/template/header.ejs %>
            <div class="page-wrap-right">
            <% include partials/template/micrositename.ejs %>

            </div>
            <% include partials/template/footer.ejs %>
            <% include partials/template/jsdefaults.ejs %>
        </div>
        <!-- A freindly upgrade browser override screen for those using IE9 or less -->
        <!--[if IE]>
            <% include partials/template/lte-ie9.ejs %>
        <![endif]-->
    </body>
</html>