<footer>
    <div class="footer-newspaper-logo">
        <h1 class="footer-logo"><a href="/" title="<%= title %> - All news, latest news and news from the most revealing news site <%= title %>.">TPNS<span class="texti">two</span></a></h1>
    </div>
    <p><a title="This will take you to the TPNStwo Permissions and Policies Section to read more"><%= title %> &#169; 1985-<span class="current-year"></span> - All Rights Reserved</a></p>
    <p>Member of the TPNS Group of companies</p>
</footer>