<div class="dialog">
    <div class="innercol">
        <div class="header">
            <h1><a href="index.html"><img src="./images/tpns-logo.png" width="298" height="50" alt="Image of the TPNS logo" /></a></h1>
            <h1>Please upgrade your browser to use the<br />TPNS Global Information Distibrution Network.</h1>
            <h2>We engineered TPNS using the latest technology. This makes the TPNS Global Information Distibrution Network faster, safer and easier to use. Unfortunately, your browser doesn't support these technologies. Download one of these great browsers below for FREE and you’ll be on your way:</h2>
        </div>
        <ul class="downloads">
            <li>
                <div class="first">
                    <h4 id="download_opera"><a href="http://www.opera.com/download" title="Download Opera"><span>Opera</span></a></h4>
                    <h5>Version 21+</h5>
                </div>
            </li>
            <li>
                <div>
                    <h4 id="download_firefox"><a href="http://www.mozilla.com/firefox/new" title="Download Mozilla Firefox"><span>Mozilla Firefox</span></a></h4>
                    <h5>Version 29+</h5>
                </div>
            </li>
            <li>
                <div>
                    <h4 id="download_chrome"><a href="http://www.google.com/chrome/" title="Download Google Chrome"><span>Google Chrome</span></a></h4>
                    <h5>Version 34+</h5>
                </div>
            </li>
            <li>
                <div>
                    <h4 id="download_safari"><a href="http://www.apple.com/safari/" title="Download Apple Safari"><span>Apple Safari</span></a></h4>
                    <h5>Version 8+</h5>
                </div>
            </li>
        </ul>
    </div>
</div>