<div class="content-newspaper-logo">
    <h1 class="newspaper-logo"><a href="/" title="<%= title %> - All news, latest news and news from the most revealing news site <%= title %>.">TPNS<span class="texti">two</span></a></h1>
    <div class="content-extra-info-area">
        <div class="content-extra-info-date-area">
            <p class="content-extra-info-date"></p>
        </div>
    </div>
</div>