<section id="happening-now">
    <main>
        <div class="content-area-lead-story">
            <article></article>
        </div>
        <div name="trending" class="lead-story-left-column">
            <div class="content-area-category-title textb textup">
                Trending
            </div>
            <article></article>
            <div class="content-area-trending-promo-area">
                <a>
                    <span class="content-area-trending-promo-title textb textup">Got a confidential news tip?</span>
                    <span class="content-area-trending-promo-content"><span class="textb">TPNS</span><span class="texti">two</span> offers several ways to get in touch with and provide materials to our journalists, find out more here.</span>
                </a>
            </div>
        </div>
        <div class="content-area-latest-articles">
            <div class="content-area-latest-articles-top-promo-area">
                <div class="content-area-latest-articles-top-promo-area-split">
                    <div class="content-area-category-title textb textup">
                        Podcasts
                    </div>
                    <podcast></podcast>
                </div>
                <div class="content-area-latest-articles-top-promo-area-split">
                    <div class="content-area-category-title textr textb textup">
                        Topics
                    </div>
                    <div class="article-category-subcategory-container textup textc">
                        <a href="" title="">Smarter Living</a>
                    </div>
                    <div class="content-area-latest-articles-top-promo-inner-area">
                        <div class="content-area-latest-articles-top-promo-inner-area-split">
                            <article></article>
                        </div>
                        <div class="content-area-latest-articles-top-promo-inner-area-split">
                            <article></article>
                        </div>
                    </div>
                    <div class="article-category-signup-container textc">
                        <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div class="mc_embed_signup">
                            <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                <div class="mc_embed_signup_scroll">
                                    <div class="mc-input">
                                        <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                    </div>
                                    <div class="mc-button">
                                        <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
            <div class="content-area-latest-articles-business">
                <div class="content-area-category-title textb textup">
                    <a href="" title="">Business</a>
                </div>
                <div class="content-area-latest-articles-business-inner">
                    <div class="business-world-markets">
                    </div>
                    <div class="business-world-markets-news">
                        <article></article>
                    </div>
                </div>
            </div>
            <div class="content-area-elsewhere-container">
                <div class="content-area-category-title textb textup">
                    Elsewhere in the news
                </div>
                <div class="content-area-elsewhere-inner-container">
                    <article></article>
                </div>
                <div class="content-area-elsewhere-other-container">
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-elsewhere-other-inner-container-horizontal-split">
                            <div class="content-area-category-title textb textup">
                                Book Review
                            </div>
                            <article></article>
                        </div>
                        <div class="content-area-elsewhere-other-inner-container-horizontal-split">
                            <div class="content-area-category-title textb textup">
                                Video
                            </div>
                            <vhs></vhs>
                        </div>
                    </div>
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-category-title textb textup">
                            More News
                        </div>
                        <ul class="content-area-elsewhere-other-inner-news">
                            <li>
                                <article></article>
							</li>
                        </ul>
                    </div>
                    <div class="content-area-elsewhere-other-inner-container">
                        <div class="content-area-category-title textb textup">
                            Morning Briefing
                        </div>
                        <div id="ip">Loading...</div>
                        <div id="country_code"></div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="CA">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing-canada.jpg" alt="" />
                                <h4>Canada Edition</h4>
                                <p>The news and stories that matter to readers in the Canada.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="US">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing.jpg" alt="" />
                                <h4>U.S.A. Edition</h4>
                                <p>The news and stories that matter to readers in the U.S.A..</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="Europe">
                            <a href="">
                                <img src="./newspaper-images/morning_briefing_europe.jpg" alt="" />
                                <h4>Europe Edition</h4>
                                <p>The news and stories that matter to readers in Europe.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="Asia">
                            <a href="">
                                <img src="./newspaper-images/morning_briefing_asia.png" alt="" />
                                <h4>Asia Edition</h4>
                                <p>The news and stories that matter to readers in Asia.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                        <div class="content-area-elsewhere-other-inner-image-controller" id="World">
                            <a href="">
                                <img src="./newspaper-images/morning-briefing-world.jpg" alt="" />
                                <h4>World Edition</h4>
                                <p>The news and stories that matter to readers in the World.</p>
                            </a>
                            <div class="article-category-signup-container textc">
                                <p>Get a weekly roundup of the best advice from <span class="textb">TPNS</span><span class="texti">two</span> on living a better, smarter, more fulfilling life.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div class="mc_embed_signup">
                                    <form action="//handmadesolutions.us16.list-manage.com/subscribe/post?u=e1ae87d8e63bb811b4e1b0c2f&amp;id=b8e990be1b" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                                        <div class="mc_embed_signup_scroll">
                                            <div class="mc-input">
                                                <input type="email" value="" name="EMAIL" class="mce-EMAIL email" placeholder="joe.bloggs@industries.com" required />
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_e1ae87d8e63bb811b4e1b0c2f_b8e990be1b" tabindex="-1" value="" />
                                            </div>
                                            <div class="mc-button">
                                                <button type="submit" name="subscribe" class="mc-embedded-subscribe button"><i class="icon icon-newsletter"></i><span class="hidden">Subscribe</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </main>
    <aside>
        <div name="opinion" class="aside-module content-area-opinion">
            <div class="content-area-category-title textr textb textup">
                Opinion
            </div>
            <div class="content-area-opinion-cell">
                <article></article>
            </div>
            <div class="content-area-opinion-cell">
                <article></article>
            </div>
        </div>
        <div class="aside-module aside-promo-area-two-column">
            <div class="content-area-opinion-cell">
                <div class="content-area-category-title textb textup">
                    Insider
                </div>
                <article></article>
            </div>
            <div class="content-area-opinion-cell">
                <div class="content-area-category-title textr textb textup">
                    Puzzles
                </div>
                <div class="aside-promo-area-link">
                    <a href="" title="">
                        <span class="aside-promo-area-link-title textb">Play today's crossword puzzle</span>
                        <i class="icon icon-crossword"></i>
                    </a>
                </div>
            </div>
        </div>
        <div name="editorschoice" class="aside-module content-area-news-feed">
            <div class="content-area-category-title content-area-news-feed-title textr textb textup">
                Editor&#39;s Choice
            </div>
            <div class="content-area-news-feed-inner-container">
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-12T15:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-11T13:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-10T13:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-09T15:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-08T13:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
                <div class="newsfeed-editors-choice-by-day-filter">
                    <div class="newsfeed-editors-choice-by-day-date article-published-date-time textc">
                        <time datetime="2017-07-07T13:28:06+02:00"></time>
                    </div>
                    <article></article>
                </div>
            </div>
            <div class="newsfeed-editors-choice-feedback-link">
                <a title="Editorial Feature Feedback form">Send Feedback</a>
            </div>
            <div class="clearfix"></div>
            <div class="newsfeed-editors-choice-feedback-container">
                <div class="newsfeed-editors-choice-feedback-title">
                    <h2>Feedback</h2>
                </div>
                <h3>Editorial Feature</h3>
                <h4>Thanks for trying our editorial feature on TPNStwo.com that highlights developing news from TPNS<span class="texti">two</span> Newspaper and around the web. Please take a moment to share your feedback below, or e-mail us at <a href="mailto:homepage.feedback@tpnstwo.com?subject=Editor&#39;s%20Choice%20Feedback">homepage.feedback@tpnstwo.com</a>.</h4>
                <form class="newsfeed-editors-choice-feedback-form">
                    <h5 class="feedback-form-input-title">Overall, how satisfied are you with this editorial feature?</h5>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="1. Not at all satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            1. Not at all satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="2. Not too satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            2. Not too satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="3. Somewhat satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            3. Somewhat satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="4. Very satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            4. Very satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <input type="radio" name="editors-choice-feedback" value="5. Extremely satisfied" required />
                        <span class="feedback-form-radio-title textb">
                            5. Extremely satisfied
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <h5 class="feedback-form-input-title">Why did you give the above rating? Please be as specific as possible.</h5>
                        <span class="feedback-form-input-container">
                            <textarea class="texti" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="I gave the above rating because..." required></textarea>
                        </span>
                    </label>
                    <label class="feedback-form-input-label">
                        <h5 class="feedback-form-input-title">Where can we reach you regarding your comment? Note that due to a large number of responses, we may not be able to respond to your feedback individually. (Optional)</h5>
                        <span class="feedback-form-input-container">
                            <input class="texti" type="text" name="your-email" aria-required="true" aria-invalid="false" placeholder="Enter your email or phone/mobile number" />
                        </span>
                    </label>
                    <div class="global-blue-button global-button feedback-form-input-button">
                        <a class="textb" title="Close Feedback Form"><i class="icon icon-close"></i>Close</a>
                        <button type="submit" name="submit" class="textb"><i class="icon icon-locked"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="clearfix"></div>
</section>